*{
	margin: 0px;
	border: 0px;
	padding: 0px;

	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
h3{
	text-align: center;
	margin-top: 100px;
}
form{
	width: 200px;
	display: table;
	margin:0 auto;
}
form input{
	width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 30px;
    margin-top: 15px;
}
form button{
	margin: 0 auto;
    display: table;
    background-color: #00BCD4;
    color: #fff;
    padding: 10px 15px;
    margin-top: 15px;
}